body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.login-container{
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    width:350px;
}
.title{
    text-align:center;
    color:#2c3e50;
    margin-bottom:30px;
}
.login-input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ced4da;
    border-radius:8px;
    font-size:16px;
    box-sizing:border-box;
}
.login-button{
    width:100%;
    background:green;
}

.login-button:hover{
    background:#0b5ed7;
}
.register-text{
    text-align:center;
    margin-top:20px;
    color:#6c757d;
}

.register-text a{
    color:#0d6efd;
    text-decoration:none;
    font-weight:bold;
}

.register-text a:hover{
    text-decoration:underline;
}
.register-button{
    width:100%;
    background:#198754;
}
.register-button:hover{
    background:#157347;
}